{% extends "base.html" %}
{% block title %}VegeGrove - Product Management{% endblock %}

{% block content %}
<h1 class="display-4">Product Management</h1>

<hr>

<div>
    {% if count == 0 %}
    <p>There are no products.</p>
    {% elif count == 1 %}
    <p>There is 1 product.</p>
    {% else %}
    <p>There are {{ count }} products.</p>
    {% endif %}
</div>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Tags</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for product in products_list %}
            <tr>
                <td>{{ product.get_product_id() }}</td>
                <td>{{ product.get_name() }}</td>
                <td>${{ product.get_price() }}</td>
                <td>{{ product.get_description() }}</td>
                {% if product.get_tags() == "S" %}
                <td>Seed</td>
                {% elif product.get_tags() == "F" %}
                <td>Fertiliser</td>
                {% endif %}
                <td><a href="/updateProduct/{{product.get_product_id()}}" class="btn btn-warning">Update</a></td>
                <td>
                    <form action="{{url_for('delete_product', id=product.get_product_id())}}" method="POST">
                        <!--<input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('You are about to delete {{product.get_name()}}!');">-->
                        <!-- Button to Open the Modal -->
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{product.get_product_id()}}">
                            Delete
                        </button>

                        <!-- The Modal -->
                        <div class="modal" id="myModal_{{product.get_product_id()}}">
                            <div class="modal-dialog">
                                <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">You are about to delete {{product.get_name()}}!</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            Are you sure you would like to proceed?
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <input type="submit" value="Delete" class="btn btn-danger">
                        </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}