<!DOCTYPE html>
<html><!-- Admin side -->
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/cart.css">
    <title>VegeGrove</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>{% block title %}VegeGrove{% endblock %}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='styleadmin.css') }}">
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">VegeGrove</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('admin.homepage')}}" class="active">Home</a></li>
            <li><a href="{{ url_for('admin.create_user') }}">Create Company</a></li>
            <li><a href="/retrieveCompany">Retrieve Company</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <div class="user">
          <a href="#"><span class="glyphicon glyphicon-user" onclick="toggleuser()"></span> </a>
            <div id="userApplet" class="user-applet">
              <h3 style="display: inline">Profile</h3>
                <div class="user-item">
                  <button class="logout" onclick="logout()"><span class="glyphicon glyphicon-log-in"></span>Logout</button>
                </div>
            </div>
            </div>
        </li>
      </ul>
    </div>
  </nav>

    <script>
         function logout() {
            // Add any logout logic or redirect here
            window.location.href = "{{ url_for('auth.logout') }}";
        }

        function toggleuser() {
            var userApplet = document.getElementById('userApplet');
            userApplet.style.display = (userApplet.style.display === 'block') ? 'none' : 'block';
        }
    </script>
</div>
  </header>


  {% block content %}



  {% endblock %}
</body>

</html>
