{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block content %}

<div class="password-container">
  <form method="post" action="{{ url_for('auth.userChangePassword') }}">
    <div class="password-box">
      <h2>
        Change Password
      </h2>
       {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}.
                </div>
            {% endif %}
      {% endwith %}
      <div class="password-input-box">
        <label for="ori">Original Password</label>
        <input type="password" id="ori" name="ori" class="ori">
      </div>
      <div class="password-input-box">
        <label for="new">New Password</label>
        <input type="password" id="new" name="new" class="new">
      </div>
      <div class="password-input-box">
        <label for="confirm_new">Confirm Password</label>
        <input type="password" id="confirm_new" class="confirm_new" name="confirm_new">
      </div>
      <br>
      <div class="password-input-box">
      <input type="submit" class="changepw-submit">
      </div>
    </div>
  </form>
</div>
{% endblock %}