body{
    font-family: 'Raleway', sans-serif;
    place-items: center;
    max-height: 100vh;
    background-color: white;
}

/*General settings*/
.donation-container {
    display: grid;
    width: 500px;
    height: 570px;
    margin: 0 auto;
    margin-top: 40px;
    border: 1px solid #ccc;
    background-color: #EEEEEE;
    box-shadow: 2px 4px 11px -1px #000000;
}

.title{
    font-weight: bolder;
    font-size: 22px;
    margin: 35px auto;
}

/*Donation progress bar*/
.progress-bg {
    margin: -170px auto;
    background-color: #B3B3B3;
    height: 30px;
    width: 75%;
    border-radius: 20px;
}

.progress-bar{
    background-color: #0D9F0A;
    height: 30px;
    width: 40%;
    font-size: 20px;
    border-radius: 20px;
}

.raised{
    font-weight: bolder;
    font-size: 14px;
    margin-top: 10px;
    letter-spacing: 0.5px;
}

/*Buttons*/
.donation-options{
    position: relative;
    width: 400px;
    height: 300px;
    margin: -230px auto;
    background-color: white;
    border: 2px solid #000000;
    border-radius: 10px;
}

.options{
    position: absolute;
    top: 12%;
    left: 12%;
}

.option-btn{
    margin-top: 5px;
    width: 100px;
    height: 50px;
    border-radius: 1.5px;
    border: 0px;
    font-size: 30px;
    transition: all 250ms ease-in-out;
}

.option-btn:hover{
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px black;
}

.custom-btn{
    width: 308px;
    height: 50px;
    background-color: #EEEEEE;
    border-radius: 1.5px;
    border: 0px;
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
}

.donate-btn{
    display: block;
    margin-left: 116px;
    letter-spacing: 1.2px;
    font-weight: bolder;
    position: relative;
    top: 1em;
    padding: 0.5rem;
    border: 0px;
    border-radius: 2px;
    text-decoration: none;
    color: #f3f3f3;
    background-color: #0D9F0A;
    transition: all 250ms ease-in-out;
}

.donate-btn:hover{
    color: #f3f3f3;
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px #8bc34a;
}