:root{
    --primary-color: rgb(11, 78, 179)
}

body{
    font-family: 'Raleway', sans-serif;
    place-items: center;
    min-height: 100vh;
    background-position: center;
}

.form-group .form-control{
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: 2px solid lightgray;
}

.text-center{
    text-align: center;
    font-size: 30px;
    font-weight: lighter;
}

.form{
    display: grid;
    width: 470px;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 1.5rem;
    background-color: #EEEEEE;
    border-radius: 1rem;
    box-shadow: 2px 4px 11px -1px #000000;
}

.form-group .radio-group{
    margin: 1rem 0;
}

.btn-submit{
    letter-spacing: 0.5px;
    padding: 0.5rem;
    text-decoration: none;
    color: #f3f3f3;
    background-color: var(--primary-color);
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 250ms ease-in-out;
    width: 25%;
    margin-left: 312px;
}

.btn-submit:active, .filter-btn{
    transform: scale(.95);
}

.btn-submit:hover{
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color);
    color: #f3f3f3;
}

.filter-header{
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.filter-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 25px;
}

.filter-btn{
    padding: 0.5rem;
    width: 8%;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 250ms ease-in-out;
    background-color: #99BC85;
    font-size: 16px;
    color: #f3f3f3;
}

.filter-btn:hover{
    background-color: #99BC85;
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px #99BC85;
}