{% extends "base5.html" %}
{% block title %}Library Loan System - Cart{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cart.css') }}">
{% endblock %}
{% block content %}
    <div class="cart-tittle">
  <h1 class="tittle">Your Shopping Cart</h1>
    </div>
<div class="d-flex flex-column">
    <div class="cart-container">
        <div>
        {% for item in items %}
            <div class="cart-item">
                <p class="item-details">
                    {{ item.product.name }} - ${{ item.product.price }} x {{ item.quantity }}
                </p>
                <div class="button-column">
                    <form action="/remove_from_cart" method="POST">
                        <input type="hidden" name="product_name" value="{{ item.product.name }}">
                        <button type="submit" class="btn btn-danger">-</button>
                    </form>
                    <form action="/add_to_cart" method="POST">
                        <input type="hidden" name="product_name" value="{{ item.product.name }}">
                        <button type="submit" class="btn btn-success">+</button>
                    </form>
                </div>
            </div>
        {% endfor %}
        <p class="m-0">Total Price: ${{ total_price }}</p>
    </div>
    <p class="store mt-3">
      <a href="/store">
          <button type="button" class="btn btn-primary">Continue shopping</button>
      </a>
    </p>
</div>
{% endblock %}

