{% extends "base4.html" %}
{% block title %}VegeGrove - Create product{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/product.css') }}">

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">VegeGrove</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Review <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/createReview">Create Event</a></li>
                    <li><a href="/retrieveReviews">User's SignedUp</a></li>
                </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Products <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/store">View Products</a></li>
                    <li><a href="/cart">User's Bought</a></li>
                    <li><a href="/productManagement">Product Management</a></li>
                    <li><a href="/createProduct">Create Product</a></li>
                </ul>
            </li>
            <li><a href="/responseManagement">Donations</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <div class="user">
                    <a href="#"><span class="glyphicon glyphicon-user" onclick="toggleuser()"></span> </a>
                    <div id="userApplet" class="user-applet">
                        <h3 style="display: inline">Profile</h3>
                        <div class="user-item">
                            <button class="logout" onclick="logout()"><span class="glyphicon glyphicon-log-in"></span>Logout</button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>

<form method="POST" action="" class="form">
    <h1 class="text-center">Create a Product</h1>

    <div class="form-group">
        {{ render_field(form.name, class="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.price, class="form-control") }}
    </div>
    <div id="prof">
        <div class="form-group">
            {{ render_field(form.description, class="form-control") }}
        </div>
    </div>
    <div class="form-group">
        <div class="radio-group">
            {{ render_field(form.tags, class="form-check", style="list-style-type:none") }}
        </div>
    </div>
    <input type="submit" value="Create" class="btn"/>
</form>
{% endblock %}