<!DOCTYPE html>
<html><!-- user's side -->
<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,500;1,300&display=swap">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}VegeGrove{% endblock %}</title>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">VegeGrove</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="{{url_for('main.landingpage')}}">Home</a></li>
        <li><a href="{{url_for('donation')}}">Donation</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{url_for('auth.signup')}}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="{{ url_for('auth.login')}}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav>

  <div class="landingpage-container">
    <div class="landingapge-content">
        <div class="hero">
          <div class="hero__content">
            <h1><span class='welcome'>Welcome to the</span> <span class="tree__hugging">sustainable <br> community</span></h1>
          </div>
        </div>
    </div>

      <div class="about">
          <img src="https://media.gettyimages.com/photos/african-woman-hugging-tree-trunk-picture-id84528438?k=6&m=84528438&s=612x612&w=0&h=Np1bMKfBzee-yR0w0-28REcaNNxSEIfQVZhI6HltIm0=" alt="tree hugger">
          <div class="about__info">
            <h3>About Us</h3>
            <p>We are a group of people that embrace tree hugging.
                We encourage sustainability, by selling seeds. Participating in events to increase the awareness of the public
                Promoting a worldwide sustainability, starting from Singapore.
            </p>
          </div>
        </div>

  </div>


</body>
</html>

