{% extends "base.html" %}
{%block title%} Profile {% endblock %}
{% block content %}

<div class="content-profiling">
<div class="profile-container">
    <div class="side_profile">
        <div class="field">
           <label for="img"></label>
            <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.shutterstock.com%2Fsearch%2Fblank-profile&psig=AOvVaw0YMObeLC-iJ2YGQY_Q8-CI&ust=1705073258344000&source=images&cd=vfe&ved=0CBMQjRxqFwoTCKC1voDT1YMDFQAAAAAdAAAAABAJ" class="profile_img" id="img">
        </div>
        <div class="field">
           <label for="name">Name:</label>
            {{current_user.first_name}}  {{current_user.last_name }}
        </div>
        <div class="field">
            <label for="email">Email:</label>
            {{ current_user.email }}
        </div>
        <div class="field">
            <label for="dof">Date of Birth:</label>
            <p id="dof">{{ user_details.dof }}</p>
        </div>
        <div class="field">
            <label for="address">Address:</label>
            <p id="address">{{ user_details.fulladd }}</p>
        </div>
        <div class="field">
            <label for="contact_no">Contact:</label>
            <p id="contact_no">{{ user_details.contact }}</p>
        </div>
    </div>

    <div class="main-content">
        {% if user_details %}
            <form method="post" action=" {{ url_for('main.profile') }}" class="details" onsubmit="return minAge">
            <h2 class="txt-detail">Detail</h2>
                <table>
                    <tr>
                        <th>Personal Details</th>
                    </tr>
                    <tr>
                        <td>*Name: </td>
                        <td>
                            <input type="text" id="first_name" placeholder="First Name" name="first_name" value="{{ current_user.first_name }}" disabled >
                            <input type="text" id="last_name" placeholder="Last Name" name="last_name" value="{{ current_user.last_name }}" disabled >
                        </td>
                    </tr>
                    <tr>
                        <td>
                            *Date of birth:
                        </td>
                        <td>
                            <input type="date" required name="dof" value="{{ user_details.dof }}" id="demo" >
                        </td>
                    </tr>
                    <tr>
                        <td>*Contact Number: </td>
                        <td>
                            <input type="tel" name="contact" class="contact" id="contact" placeholder="Contact Number" value="{{ user_details.contact }}" pattern="[0-9]{8}" required>
                        </td>
                    </tr>
                    <tr>
                        <td>*Email Address:</td>
                        <td><input type="email" name="email" class="email" id="email" placeholder="Email" value="{{ current_user.email}}" disabled ></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <th>Address</th>
                    </tr>
                    <tr>
                        <td>*Full Address:</td>
                        <td>
                            <input type="text" name="fulladd" id="fulladd" class="fulladd" placeholder="Full Address" required value="{{ user_details.fulladd }}">
                        </td>
                    </tr>
                    <tr>
                        <td>*Postal Code</td>
                        <td>
                            <input type="number" class="postalcode" name="postalcode" id="postalcode" placeholder="Postal Code" required value="{{ user_details.postal }}" max="999999">
                        </td>
                    </tr>
                    <tr>
                        <td>Street Name:</td>
                        <td>
                            <input type="text" name="street_name" id="street_name" class="street_name" placeholder="Street Name" value="{{ user_details.streetname }}">
                        </td>
                    </tr>
                    <tr>
                        <td>Level Number:</td>
                        <td>
                            <input type="number" name="lvlno" class="lvlno" id="lvlno" max='30' placeholder="Level Number" value="{{ user_details.lvl }}">
                        </td>
                    </tr>
                    <tr>
                        <td>Unit Number:</td>
                        <td>
                            <input type="number" class="unit_no" name="unit_no" id="unit_no" placeholder="Unit Number" value="{{ user_details.unit }}">
                        </td>
                    </tr>

                </table>
            <input type="submit" value="Update" class="profile-update">
        </form>
    </div>
        {% else %}
        <form method="post" action=" {{ url_for('main.profile') }}" class="details"  onsubmit="return dofvalidation">
            <h2 class="txt-detail">Detail</h2>
                <table>
                    <tr>
                        <th>Personal Details</th>
                    </tr>
                    <tr>
                        <td>*Name: </td>
                        <td>
                            <input type="text" id="first_name" placeholder="First Name" name="first_name" value="{{ current_user.first_name }}" disabled>
                            <input type="text" id="last_name" placeholder="Last Name" name="last_name" value="{{ current_user.last_name }}" disabled>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            *Date of birth:
                        </td>
                        <td>
                            <input type="date" required name="dof" value="{{ user_details.dof }}" id="demo">
                        </td>
                    </tr>
                    <tr>
                        <td>*Contact Number: </td>
                        <td>
                            <input type="tel" name="contact" class="contact" id="contact" placeholder="12341234" value="{{ user_details.contact }}" pattern="[0-9]{8}" required>
                        </td>
                    </tr>
                    <tr>
                        <td>*Email Address:</td>
                        <td><input type="email" name="email" class="email" id="email" placeholder="Email" value="{{ current_user.email}}" disabled></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <th>Address</th>
                    </tr>
                    <tr>
                        <td>*Full Address:</td>
                        <td>
                            <input type="text" name="fulladd" id="fulladd" class="fulladd" placeholder="Full Address" required value="{{ user_details.fulladd }}">
                        </td>
                    </tr>
                    <tr>
                        <td>*Postal Code</td>
                        <td>
                            <input type="number" max="999999" class="postalcode" name="postalcode" id="postalcode" placeholder="Postal Code"  required value="{{ user_details.postal }}">
                        </td>
                    </tr>
                    <tr>
                        <td>Street Name:</td>
                        <td>
                            <input type="text" name="street_name" id="street_name" class="street_name" placeholder="Street Name" value="{{ user_details.streetname }}">
                        </td>
                    </tr>
                    <tr>
                        <td>Level Number:</td>
                        <td>
                            <input type="number" name="lvlno" class="lvlno" id="lvlno" placeholder="Level Number" value="{{ user_details.lvl }}" max="30">
                        </td>
                    </tr>
                    <tr>
                        <td>Unit Number:</td>
                        <td>
                            <input type="number" class="unit_no" name="unit_no" id="unit_no" placeholder="Unit Number" value="{{ user_details.unit }}">
                        </td>
                    </tr>

                </table>
            <input type="submit" value="Submit" class="profile-update">
        </form>
        {% endif %}
    </div>
</div>

<script>
var todayDate = new Date();
var month = todayDate.getMonth() + 1 ;
var year = todayDate.getFullYear();
var tdate = todayDate.getDate();
if(month < 9 ){
    month = "0" + month;
}
if(tdate < 10){
    tdate = "0" + tdate;
}
var maxDate= year + '-' + month + '-' + tdate;
document.getElementById('demo').setAttribute("max", maxDate);
console.log(maxDate);



</script>

{% endblock %}