<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
</head>

<body>
<div class=resetpasswrd_sucessful>
  <div class="imagetick">
      <img src="https://us.123rf.com/450wm/yupiramos/yupiramos2004/yupiramos200406885/144039782-check-mark-icon-design-ok-tick-choice-correct-approved-choose-vote-positive-and-web-theme-vector.jpg?ver=6">
  </div>
  <div class="description_changed_password">
    <h3>Reset Password successful</h3>
    <p>You have successfully reset your password</p>
    <p>Do contact us if you have any problem regarding your account</p>
    <p>Click on the button below to direct to login page</p>
  </div>
  <div class="button_direct_home">
    <button class="button_go_home"><a href="{{url_for('auth.login')}}" class=button_dh>Login</a></button>
  </div>
</div>


</body>
</html>