{% extends "base5.html" %}
{% block title %}VegeGrove - Response Management{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/response.css') }}">

<h1>Donation Management</h1>

<div>
    {% if count == 0 %}
    <p>Total number of Donations: 0.</p>
    {% elif count == 1 %}
    <p>Total number of Donations: 1.</p>
    {% else %}
    <p>Total number of Donations: {{ count }}.</p>
    {% endif %}
</div>
<div>
    <table class="table table-striped" border="3">
        <thead>
            <tr>
                <th>Response ID</th>
                <th>Donation Amount</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Address Line 1</th>
                <th>Address Line 2</th>
                <th>Postal Code</th>
                <th>Delivery Method</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for response in responses_list %}
            <tr>
                <td>{{ response.get_response_id() }}</td>
                <td>${{ response.get_amount() }}</td>
                <td>{{ response.get_fname() }}</td>
                <td>{{ response.get_lname() }}</td>
                <td>{{ response.get_phone() }}</td>
                <td>{{ response.get_email() }}</td>
                <td>{{ response.get_add1() }}</td>
                <td>{{ response.get_add2() }}</td>
                <td>{{ response.get_pcode() }}</td>
                {% if response.get_dmethod() == "S" %}
                <td>Standard</td>
                {% elif response.get_dmethod() == "E" %}
                <td>Express</td>
                {% endif %}
                <td><a href="/updateResponse/{{response.get_response_id()}}" class="btn btn-warning" style="color: white">Update</a></td>
                <td>
                    <form action="{{url_for('delete_response', id=response.get_response_id())}}" method="POST">
                        <!--<input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('You are about to delete {{response.get_fname()}}'s response!');">-->
                        <!-- Button to Open the Modal -->
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{response.get_response_id()}}">
                            Delete
                        </button>

                        <!-- The Modal -->
                        <div class="modal" id="myModal_{{response.get_response_id()}}">
                            <div class="modal-dialog">
                                <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">You are about to delete {{response.get_fname()}}'s response!</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            Are you sure you would like to proceed?
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <input type="submit" value="Delete" class="btn btn-danger">
                        </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}