{% extends "base.html" %}
{% block title %} VegeGrove- Discover Events {% endblock %}

{% block content %}
<div>
    <h1>Discover Events</h1>
</div>
<br>
<div class="flex-container">
    <div class="container-1">
        <div class="event-details">
            <div class="image-1">
                <a href="#">PICTURE</a>
            </div>
            <div class="event-name">
                <h3>Event #1</h3>
                <hr>
                <span>
            <p> Description</p>
            Date:
            <br>
            Timing:
            <br>
            Location:
          </span>
                <br>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#registrationModal"
                        id="expand-btn">
                    Register
                </button>

                <!-- Modal -->

                <div class="modal fade modal auto-clear" id="registrationModal" tabindex="-1" aria-labelledby="registrationModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title mx-auto">Registration Successful!<img
                                        src="static/images/greentick.png" alt="Success icon" width="30" height="30"
                                        class="mx-2 my-auto"></h5>
                            </div>
                            <div class="modal-body">
                                <p>Thank you for registering for the event! You're all set to attend.
                                    <br> Event has been added to <b>My Events</b>
                                </p>
                                <ul>
                                    <li>Date:</li>
                                    <li>Event:</li>
                                    <li>Location:</li>
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <a href="/retrieveUserEvents" class="btn btn-primary active mx-auto" role="button"
                                   aria-pressed="true">Go to My Events</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='events.js') }}"></script>
{% endblock %}