{% extends "base.html" %}
{% block title %}VegeGrove - My Events {% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<div>
    <h1>My Events</h1>
</div>
<br>
<div class="container-fluid mt-3 w-75 rounded-3" style="border: 3px solid black;" id="userevent-card">
    <div class="row" id="userevent-details">
        <div class="col-sm-4">
            <img src="static/img/plant.jpeg">
        </div>
        <div class="col-sm-8 pe-5 py-4">
            <h3>Event #1</h3>
            <hr>
            <span class="userevent-details">
                <span>[Description]</span><br>
                Date: <br>
                Timing <br>
                Location:
            </span>
            <br>
            <hr>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#checkinModal">Check In</button>
        </div>
    </div>
</div>

<div class="modal fade modal auto-clear" id="checkinModal" tabindex="-1"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title"> Please fill in the blanks below to confirm your check in to the event</div>
            </div>
            <div class="modal-body p-3">
                <form action="" method="POST">
                    <div class="form-group">
                        {{ render_field(form.name, class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ render_field(form.email, class="form-control") }}
                    </div>
                    <hr>
                    <div class="upload-photo">
                        <p>Upload Photo</p>
                        <span>Please upload a picture of one of our event signboard to complete your
                                        check-in </span>
                    </div>
                    <br>
                    <form action="{{ url_for('upload_file') }}" method="POST" enctype="multipart/form-data">
                        <input type="file" name="file">
                    </form>
                    <div class="modal-footer ">
                        <a href="/userevent_confirmation" class="btn btn-primary">
                            Submit
                        </a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


{% endblock %}