{% extends "base3.html" %}
{% block title %}VegeGrove- Current Events Events{% endblock %}

{% block content %}



<h1 class="display-4 mb-4">Current Events</h1>
<a href="/createEvents" class="btn btn-primary">Create Event</a>

<div class="numEvents pt-4">
    {% if count == 0 %}
    <p>There are no events.</p>
    {% elif count == 1 %}
    <p>There is 1 event.</p>
    {% else %}
    <p>There are {{ count }} events.</p>
    {% endif %}
</div>
<div>
    {% if count != 0 %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Event no.</th>
            <th>Name</th>
            <th>Date</th>
            <th>Timing</th>
            <th>Location</th>
            <th>Description</th>
            <th> Budget($) </th>
            <th>Person-In-Charge</th>
            <th>Collaborators</th>
        </tr>
        </thead>
        <tbody>
        {% for event in events_list %}
        <tr>
           <td>{{ event.get_event_id() }}</td>
            <td>{{ event.get_name() }}</td>
            <td>{{ event.get_date() }}</td>
            <td>{{ event.get_timing() }}</td>
            <td> {{ event.get_location() }}</td>
            <td> {{ event.get_description() }}</td>
            <td>{{ event.get_budget() }}</td>
            <td>{{ event.get_person_in_charge() }}</td>
            <td>{{ event.get_collaborators() }}</td>
            <td><a href="/updateEvents/{{event.get_event_id()}}" class="btn btn-warning">Update</a></td>
            <td>
                <form action="{{url_for('delete_event', id=event.get_event_id())}}" method="POST">
                    <button type="submit" class="btn btn-danger"
                            onclick="return confirm('Are you sure you want to delete {{ event.get_name() }}?');">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}
