{% extends "base.html" %}
{% block title %} VegeGrove- Discover Events {% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<div>
    <h1>Discover Events</h1>
</div>
{% for event in events_list %}
    <div class="event_table">
        <table>
            <tr>
                <td> Event: {{event.get_name()}}</td>
            </tr>
            <tr>
                <td> Description: {{event.get_description()}}</td>
            </tr>
            <tr>
                <td> Time: {{ event.get_timing()}}</td>
            </tr>
            <tr>
                <td>
                   <button id="retrieve-button"><a href="{{url_for('user_signup')}}">
                   Register
                   </a>
                   </button>
                </td>
            </tr>
        </table>
    </div>
{% endfor %}

 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#retrieve-button').click(function() {
                $.ajax({
                    type: 'GET',
                    url: '/retrieve_event_name',
                    success: function(response) {
                        $('#event-name').text(response.event_name);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>


{% endblock %}