{% extends "base3.html" %}
{% block title %}VegeGrove - Update Event{% endblock %}

{% block content %}
<div class="signedup_container">
    <div class="header-user-signedup">
        <h2>User's Signed Up</h2>
    </div>
    <div class="table-responsive">
        <table class="table table-striped" border="2">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Event</th>
                    <th>Contact</th>
                </tr>
            </thead>
            <tbody>
<!--            {% for review in reviews_list %}-->
                <tr>
                    <td> Delphie</td>
                    <td> SGCleanUp</td>
                    <td> 12345678</td>
                </tr>
<!--            {% endfor %}-->
            </tbody>


        </table>
    </div>



</div>



{% endblock %}